@import '../../../../style/vars.scss';

.hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    &__img {
        position: relative;
        width: 45%;
        top: -80px;
    }

    &__heading {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 30px;
    }

    &__content {    
        max-width: 50%;
    }

    &__description {    
        color: $descr-color;
        max-width: 90%;
        margin-bottom: 15px;
        line-height: 28px;
    }

    &__btn {    
        padding: 10px 14px;
        background-color: $primary;
        border-radius: 20px;
        font-weight: 600;
        color: #ffffff;
        font-size: 14px;
    }
}